:root{
        --g-ncols: 12;
        --space-400: 16px;
        --rounding-400: 16px;
}

* {
    font-family: "Poppins", sans-serif;

}


body{
    overflow-x: hidden;
}

nav{
    position: fixed;
    width: 100%;
    background-color: #fff; /* Change background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    z-index: 1000; /* Ensure nav is above other content */
    transition: height 0.3s ease;
    top: 0;
}

.pintrest-logo {
    width: 120px;
}

.sec1 {
    width: 20%;
    font-weight: 500;
}

.sec2 {
    font-weight: 500;
    width: 33%;
}

.btn-par {
    margin-left: 20px;
    margin-bottom: auto;
}

.btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 10px 9px;
    font-weight: 500;
    margin: auto;
    width: 70px;
}

.Signup {
    background-color: #e9e9e9;
    width: 80px;
    margin-right: 5px;
}

.get-text {
    font-size: 60px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 10px;
}

.decor-txt {
    position: absolute;
    left: 0;
    right: 0;
    top: 295px;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: rgb(0, 118, 211);
}

.slide-top {
    animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 1;
    }
}


.dot {
    background-color: rgba(128, 128, 128, 0.381);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.dot-par {
    margin: auto;
    width: 5%;
    margin-top: 120px;
}

.img-par {
    margin-top: 20px;
}

.img-1 {
    position: relative;
    top: -100px;
    left: -134px;
    border-radius: 15px;
}

.img-5 {
    position: relative;
    top: 23px;
    left: -84px;
    border-radius: 15px;
}

.img-2 {
    border-radius: 15px;
    position: relative;
    left: -126px;
    top: -12px;
}

.img-6 {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    left: 409px;
    top: -44px;
}

.img-3 {
    position: relative;
    left: -115px;
    top: 91px;
}

.img-7 {
    border-radius: 15px;
    position: relative;
    top: -270px;
    left: 870px;
}

.img-4 {
    border-radius: 15px;
    position: relative;
    top: 155px;
    left: -99px;
}



.container {
    /* margin-top: 450px; */
    height: 896px;
    position: relative;
    width: 100%;
    background-color: rgb(255, 253, 146);
}

.container-sec1 {
    top: -200px;
    position: absolute;
    width: 100%;
    height: 200px;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 70%);
    /* background-color: black; */
}

.heading{
    color: rgb(195, 25, 82);
    font-size: 60px;
    margin-right: 50px;
    font-weight: bold;
}

.text{
    color: rgb(195, 25, 82);
    text-align: center;
    max-width: 450px;
    margin-right: 50px;
    font-size: 24px;
}

.btn{
    margin-top: 15px;
    /* margin-right: 285px; */
    text-align: center;
}

.btn1{
    margin-right: 285px;
}
.container2{
    /* margin-top: 1323px; */
    flex-direction:row-reverse;
    background-color: rgb(218, 255, 246);
}

.heading2{
    color: rgb(0, 107, 108);
    font-size: 60px;
    /* margin-right: 50px; */
    font-weight: bold;
    margin-left: 30px;
}

.text2{
    margin-left: 60px;
    color: rgb(0, 107, 108);
}

.btn2{
    margin-right: 0;
    margin-left: 15px;
}

.container3{
    height: fit-content;
    background-color: #ffe2eb;
}
.N7A{
    height: 100% !important;
}

.par-container{
    position: relative;
    top: -226px;
}

.container3{
    margin: 0;
}

.xEW {
    width: calc(3 / var(--g-ncols)* 100%);
}

.Hsu{
    box-sizing: border-box;
}

html:not([dir=rtl]) .wc1, html[dir=rtl] .JME {
    margin-right: var(--space-200);
}
html:not([dir=rtl]) .JME {
    margin-left: var(--space-200);
}
.ho- {
    border-radius: var(--rounding-400);
}
.Hsu {
    box-sizing: border-box;
}
.sLG {
    overflow: hidden;
}
.RDc {
    margin-bottom: var(--space-400);
}
.KO4 {
    margin-top: var(--space-400);
}

.XiG {
    position: relative;
}

.hCL[alt] {
    color: transparent;
}
.MIw {
    position: absolute;
}
.XiG {
    position: relative;
}
.kVc {
    display: block;
}
.L4E {
    width: calc(12 / var(--g-ncols)* 100%);
}
.N7A {
    height: 100%;
    width: 100%;
}   