*{
    font-family: "Poppins", sans-serif;

}

.pintrest-logo{
    width: 120px;
}

.sec1{
    width: 20%;
    font-weight: 500;
}

.sec2{
    font-weight: 500;
    width: 30%;
}

.btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 10px 9px;
    font-weight: 500;
    margin: auto;
    width: 70px;
}

.Signup{
    background-color: rgba(128, 128, 128, 0.363);
    width: 80px;
    margin-right: 5px;
}